In [2]:
import FinanceDataReader as fdr #financedatareader 선언

In [3]:
#코스피 종목들
KP_stock_list = fdr.StockListing("KOSPI") 
display(KP_stock_list)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,84500,2,-800,-0.94,84500,85000,83800,18883752,1593633428500,504446625475000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,182800,2,-5200,-2.77,184800,187600,181800,4043133,743445102300,133078832322000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,376000,2,-3500,-0.92,375500,380000,373000,152154,57173514500,87984000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,813000,2,-4000,-0.49,812000,816000,804000,39178,31740880000,57864462000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,69000,2,-300,-0.43,68800,69000,68100,1170158,80383326400,56779182300000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
949,002787,KR7002782001,진흥기업2우B,KOSPI,,12240,2,-60,-0.49,12500,12500,12240,137,1683100,3608449920,294808,STK
950,000227,KR7000222000,유유제약2우B,KOSPI,,11050,2,-260,-2.30,11310,11310,11050,1824,20190500,3597438000,325560,STK
951,002995,KR7002991008,금호건설우,KOSPI,,12060,3,0,0.00,12060,12060,12060,17,205020,3524727960,292266,STK
952,001527,KR7001522002,동양2우B,KOSPI,,11270,1,210,1.90,11340,11340,11210,70,791800,3477572630,308569,STK
953,001525,KR7001521004,동양우,KOSPI,,5600,2,-40,-0.71,5620,5640,5600,773,4333350,3459293600,617731,STK

In [9]:
#주식 데이터
#2023년 4월 1일 ~ 2024년 4월 1일 (약 최근 1년)
sp_data = fdr.DataReader("005380", "2023-04-01", "2024-04-01")
display(sp_data)

              Open    High     Low   Close   Volume    Change
Date
2023-04-03  184600  185500  182300  183600   534323 -0.004878
2023-04-04  184000  186500  183300  183800   510739  0.001089
2023-04-05  185100  187200  184000  186700   509578  0.015778
2023-04-06  186900  189400  184700  185100   667512 -0.008570
2023-04-07  185400  186500  184600  185100   435717  0.000000
...            ...     ...     ...     ...      ...       ...
2024-03-26  239000  244000  238500  240500   802094  0.004175
2024-03-27  241000  247500  240500  244000   818180  0.014553
2024-03-28  246000  246000  236000  237000  1050347 -0.028689
2024-03-29  238000  239000  232000  233000   852346 -0.016878
2024-04-01  234500  235000  227000  227500   898781 -0.023605

[245 rows x 6 columns]

In [11]:
#SP500
SP500_stock_list = fdr.StockListing("SP500")
display(SP500_stock_list)

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [21]:
sp_data = fdr.DataReader("MMM", "2023-04-01", "2024-04-01")
display(sp_data)

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-04-03  87.918060  88.494980  87.107025  87.433113  81.173340  4804691
2023-04-04  87.709030  87.709030  85.342812  85.493309  79.372414  4154067
2023-04-05  85.585281  85.928093  85.016724  85.526756  79.403465  3171792
2023-04-06  85.576920  85.953178  84.882942  84.916389  78.836807  2893363
2023-04-10  84.949837  86.229095  84.489967  85.919731  79.768318  3444719
...               ...        ...        ...        ...        ...      ...
2024-03-22  89.966553  90.401337  89.255852  89.280937  89.280937  5321243
2024-03-25  88.545151  89.306023  87.608696  87.658859  87.658859  6680019
2024-03-26  87.006691  87.516724  85.618729  85.811035  85.811035  7279693
2024-03-27  86.120399  87.591972  86.112038  87.449837  87.449837  4641676
2024-03-28  87.466553  88.846153  87.449837  88.687294  88.687294  5245776

[249 rows x 6 columns]

In [25]:
#약 최근 10년동안의 S&P 500 지수
KP_idx_data = fdr.DataReader("US500", "2013-01-01", "2023-12-31")
display(KP_idx_data)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,1462.420044,4202600000
2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,1459.369995,3829730000
2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,1466.469971,3424290000
2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,1461.890015,3304970000
2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,1457.150024,3601600000
...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,4754.629883,3046770000
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,4774.750000,2513910000
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,4781.580078,2748450000
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,4783.350098,2698860000
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,4769.830078,3126060000

In [27]:
#약 최근 10년동안의 다우존스 지수
DJI_idx_data = fdr.DataReader("DJI", "2013-01-01", "2023-12-31")
display(DJI_idx_data)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-02,13104.299805,13412.709961,13104.299805,13412.549805,13412.549805,161430000
2013-01-03,13413.009766,13430.599609,13358.299805,13391.360352,13391.360352,129630000
2013-01-04,13391.049805,13447.110352,13376.230469,13435.209961,13435.209961,107590000
2013-01-07,13436.129883,13436.129883,13343.320313,13384.290039,13384.290039,113120000
2013-01-08,13377.419922,13377.419922,13293.129883,13328.849609,13328.849609,129570000
...,...,...,...,...,...,...
2023-12-22,37349.269531,37534.519531,37268.878906,37385.968750,37385.968750,252970000
2023-12-26,37405.898438,37617.988281,37371.828125,37545.328125,37545.328125,212420000
2023-12-27,37518.621094,37683.699219,37488.601563,37656.519531,37656.519531,245530000
2023-12-28,37661.519531,37778.851563,37650.980469,37710.101563,37710.101563,199550000
2023-12-29,37701.628906,37759.429688,37538.800781,37689.539063,37689.539063,234570000

In [34]:
#여러 데이터들

display(fdr.DataReader("NG", "2023-01-01", "2023-12-31")) # 2023년동안의 천연가스 선물

display(fdr.DataReader("USD/KRW", "2023-01-01", "2023-12-31")) # 달러/원화환율

display(fdr.DataReader("HG", "2023-01-01", "2023-12-31")) # 2023년동안의 구리 선물

display(fdr.DataReader("JPY/KRW", "2023-01-01", "2023-12-31")) # 2023년동안의 엔화 환율

            Open  High   Low  Close  Adj Close   Volume
Date
2023-01-03  6.04  6.25  6.01   6.05       6.05   949300
2023-01-04  6.11  6.58  6.11   6.55       6.55  1305100
2023-01-05  6.45  6.74  6.39   6.72       6.72  1267400
2023-01-06  6.85  6.86  6.68   6.76       6.76  1581000
2023-01-09  6.88  6.88  6.63   6.66       6.66  1034500
...          ...   ...   ...    ...        ...      ...
2023-12-22  3.70  3.85  3.68   3.69       3.69  1495600
2023-12-26  3.72  3.78  3.64   3.72       3.72   845800
2023-12-27  3.73  3.86  3.72   3.85       3.85  2238800
2023-12-28  3.82  3.87  3.76   3.77       3.77  1665200
2023-12-29  3.77  3.77  3.68   3.74       3.74  1411900

[250 rows x 6 columns]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-02,1260.910034,1273.930054,1256.550049,1260.910034,1260.910034,0
2023-01-03,1270.099976,1278.969971,1264.390015,1270.099976,1270.099976,0
2023-01-04,1279.079956,1279.719971,1267.560059,1279.079956,1279.079956,0
2023-01-05,1271.079956,1278.229980,1265.739990,1271.079956,1271.079956,0
2023-01-06,1274.180054,1274.180054,1253.010010,1274.180054,1274.180054,0
...,...,...,...,...,...,...
2023-12-25,1297.359985,1298.359985,1295.030029,1297.359985,1297.359985,0
2023-12-26,1294.579956,1299.300049,1284.760010,1294.579956,1294.579956,0
2023-12-27,1293.920044,1295.760010,1290.000000,1293.920044,1293.920044,0
2023-12-28,1294.760010,1294.040039,1281.349976,1294.760010,1294.760010,0
2023-12-29,1277.839966,1301.920044,1259.520020,1277.839966,1277.839966,0

             Open    High     Low  Close  Adj Close   Volume
Date
2023-11-13  15.00  15.110  14.740  15.00      15.00  1430100
2023-11-14  15.01  15.330  15.000  15.25      15.25   753800
2023-11-15  15.31  15.410  15.060  15.15      15.15   346000
2023-11-16  15.15  15.200  15.020  15.14      15.14   376000
2023-11-17  15.33  16.350  15.040  15.19      15.19   351600
2023-11-20  15.19  15.370  15.040  15.04      15.04   256300
2023-11-21  15.00  15.650  14.350  15.60      15.60   954500
2023-11-22  15.69  15.830  15.530  15.69      15.69   277700
2023-11-24  15.63  15.790  15.300  15.70      15.70   154600
2023-11-27  15.63  15.630  15.280  15.48      15.48   232700
2023-11-28  15.48  15.630  15.250  15.46      15.46   253000
2023-11-29  15.59  15.750  15.250  15.35      15.35   115700
2023-11-30  15.45  15.560  15.440  15.50      15.50    29700
2023-12-01  15.60  15.625  15.180  15.29      15.29   107900
2023-12-04  15.29  15.390  14.850  15.30      15.30   155000
2023-12-05  15.25  15.770  15.250  15.76      15.76   356600
2023-12-06  16.16  16.160  15.060  15.13      15.13   210500
2023-12-07  15.13  15.260  14.620  14.94      14.94   205900
2023-12-08  14.89  15.550  14.890  15.29      15.29   115300
2023-12-11  15.42  15.640  14.840  15.12      15.12   132100
2023-12-12  15.23  15.290  14.955  15.29      15.29    91400
2023-12-13  15.51  15.600  15.150  15.39      15.39   229900
2023-12-14  15.56  15.560  14.800  14.92      14.92   277200
2023-12-15  14.82  14.840  13.983  14.45      14.45   264800
2023-12-18  14.34  14.720  14.130  14.39      14.39   190300
2023-12-19  14.32  14.640  14.240  14.29      14.29   154800
2023-12-20  14.41  14.840  14.070  14.52      14.52   132100
2023-12-21  14.46  14.900  14.250  14.85      14.85   219800
2023-12-22  14.65  15.060  14.535  14.58      14.58   128600
2023-12-26  14.53  14.725  14.300  14.50      14.50   154700
2023-12-27  14.43  15.020  14.385  14.91      14.91   181200
2023-12-28  14.92  15.220  14.790  14.91      14.91   164400
2023-12-29  14.99  15.260  14.780  14.95      14.95   182400

                Open      High       Low     Close  Adj Close  Volume
Date
2023-01-02  9.628942  9.732647  9.609884  9.628942   9.628942       0
2023-01-03  9.708912  9.818834  9.693223  9.707835   9.707835       0
2023-01-04  9.741809  9.775683  9.620193  9.744666   9.744666       0
2023-01-05  9.603668  9.642926  9.505963  9.610682   9.610682       0
2023-01-06  9.557879  9.557879  9.417420  9.557162   9.557162       0
...              ...       ...       ...       ...        ...     ...
2023-12-25  9.107476  9.128402  9.091579  9.107476   9.107476       0
2023-12-26  9.101736  9.137254  9.041953  9.101154   9.101154       0
2023-12-27  9.080848  9.109626  9.048865  9.082339   9.082339       0
2023-12-28  9.155094  9.164965  9.072182  9.157107   9.157107       0
2023-12-29  9.084881  9.208303  9.073500  9.034854   9.034854       0

[260 rows x 6 columns]

In [1]:
import FinanceDataReader as fdr
#코스피/코스닥 주가 데이터 수집

stock_list = fdr.StockListing('KRX')  # 한국 거래소 종목 불러오기

stock_list.to_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/종목정보.txt", sep = "\t", index = False, encoding = "euc-kr") #맥 데이터에 저장

In [5]:
import pandas as pd
import FinanceDataReader as fdr
import time

# 한국에 상장된 주식 종목 데이터 가져오기
stock_list = fdr.StockListing('KRX')

# 주식 데이터를 가져와서 CSV 파일로 저장하는 함수 정의
def save_stock_data_to_csv(symbol, name):
    try:
        # 주식 데이터 가져오기
        data = fdr.DataReader(symbol, "2023-01-01", "2024-01-01")
        
        # 데이터가 충분히 있는지 확인 후 CSV 파일로 저장
        if len(data) > 300:
            data.to_csv(f"/Users/yang-eun-yeol/Desktop/my_quant/데이터/종목정보/{name}.csv")
            print(f"{name} 데이터 저장 완료")
    except Exception as e:
        print(f"{name} 데이터 저장 중 에러 발생:", e)

# 주식 종목 순회 및 데이터 저장 (100번째까지만 저장)
for index, row in stock_list.iterrows():
    if index >= 100:
        break  # 100번째 이후의 주식은 저장하지 않음
    
    symbol = row['Code']
    name = row['Name']
    print(f"({index}/{len(stock_list)}) {symbol} - {name}")
    save_stock_data_to_csv(symbol, name)
    time.sleep(1)  # 1초 딜레이

print("처음 100개 주식 데이터 저장 완료")

(0/2802) 005930 - 삼성전자
(1/2802) 000660 - SK하이닉스
(2/2802) 373220 - LG에너지솔루션
(3/2802) 207940 - 삼성바이오로직스
(4/2802) 005935 - 삼성전자우
(5/2802) 005380 - 현대차
(6/2802) 000270 - 기아
(7/2802) 068270 - 셀트리온
(8/2802) 005490 - POSCO홀딩스
(9/2802) 035420 - NAVER
(10/2802) 006400 - 삼성SDI
(11/2802) 051910 - LG화학
(12/2802) 028260 - 삼성물산
(13/2802) 105560 - KB금융
(14/2802) 247540 - 에코프로비엠
(15/2802) 012330 - 현대모비스
(16/2802) 055550 - 신한지주
(17/2802) 035720 - 카카오
(18/2802) 003670 - 포스코퓨처엠
(19/2802) 032830 - 삼성생명
(20/2802) 086790 - 하나금융지주
(21/2802) 138040 - 메리츠금융지주
(22/2802) 066570 - LG전자
(23/2802) 086520 - 에코프로
(24/2802) 000810 - 삼성화재
(25/2802) 015760 - 한국전력
(26/2802) 042700 - 한미반도체
(27/2802) 034730 - SK
(28/2802) 003550 - LG
(29/2802) 323410 - 카카오뱅크
(30/2802) 259960 - 크래프톤
(31/2802) 018260 - 삼성에스디에스
(32/2802) 009150 - 삼성전기
(33/2802) 033780 - KT&G
(34/2802) 096770 - SK이노베이션
(35/2802) 028300 - HLB
(36/2802) 017670 - SK텔레콤
(37/2802) 034020 - 두산에너빌리티
(38/2802) 329180 - HD현대중공업
(39/2802) 012450 - 한화에어로스페이스
(40/2802) 024110 - 기업은행
(41/2802) 011200 - HMM
(42/2802) 402340 - SK스퀘어
(43/2802) 316140 - 우리금융지주
(44/2802) 010130 - 고려아연
(45/2802) 010950 - S-Oil
(46/2802) 352820 - 하이브
(47/2802) 030200 - KT
(48/2802) 047050 - 포스코인터내셔널
(49/2802) 196170 - 알테오젠
(50/2802) 009540 - HD한국조선해양
(51/2802) 042660 - 한화오션
(52/2802) 450080 - 에코프로머티
(53/2802) 090430 - 아모레퍼시픽
(54/2802) 003490 - 대한항공
(55/2802) 010140 - 삼성중공업
(56/2802) 267260 - HD현대일렉트릭
(57/2802) 326030 - SK바이오팜
(58/2802) 005830 - DB손해보험
(59/2802) 161390 - 한국타이어앤테크놀로지
(60/2802) 022100 - 포스코DX
(61/2802) 001570 - 금양
(62/2802) 086280 - 현대글로비스
(63/2802) 348370 - 엔켐
(64/2802) 066970 - 엘앤에프
(65/2802) 051900 - LG생활건강
(66/2802) 000100 - 유한양행
(67/2802) 267250 - HD현대
(68/2802) 088980 - 맥쿼리인프라
(69/2802) 005387 - 현대차2우B
(70/2802) 011790 - SKC
(71/2802) 011170 - 롯데케미칼
(72/2802) 241560 - 두산밥캣
(73/2802) 034220 - LG디스플레이
(74/2802) 028050 - 삼성엔지니어링
(75/2802) 251270 - 넷마블
(76/2802) 005070 - 코스모신소재
(77/2802) 377300 - 카카오페이
(78/2802) 047810 - 한국항공우주
(79/2802) 454910 - 두산로보틱스
(80/2802) 097950 - CJ제일제당
(81/2802) 361610 - SK아이이테크놀로지
(82/2802) 006800 - 미래에셋증권
(83/2802) 078930 - GS
(84/2802) 011070 - LG이노텍
(85/2802) 009830 - 한화솔루션
(86/2802) 302440 - SK바이오사이언스
(87/2802) 032640 - LG유플러스
(88/2802) 004020 - 현대제철
(89/2802) 029780 - 삼성카드
(90/2802) 036570 - 엔씨소프트
(91/2802) 021240 - 코웨이
(92/2802) 064350 - 현대로템
(93/2802) 128940 - 한미약품
(94/2802) 180640 - 한진칼
(95/2802) 058470 - 리노공업
(96/2802) 307950 - 현대오토에버
(97/2802) 403870 - HPSP
(98/2802) 005940 - NH투자증권
(99/2802) 271560 - 오리온
처음 100개 주식 데이터 저장 완료

In [3]:
#opendartreader
import OpenDartReader
my_api = "본인 api" # api
dart = OpenDartReader(my_api) # OpenDartReader 객체 생성하기

In [4]:
result = dart.list("삼성전자", start = "2023-01-01", end = "2023-12-31") #2023년 동안의 삼전
display(result.head()) # 위 5개 행 출력
display(result.shape) # 데이터프레임 구조 출력

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,최대주주등소유주식변동신고서,20231211800418,삼성전자,20231211,유
1,00126380,삼성전자,005930,Y,[기재정정]임원ㆍ주요주주특정증권등소유상황보고서,20231211000100,최민기,20231211,
2,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20231208000649,김수연,20231208,
3,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20231206000226,최종근,20231206,
4,00126380,삼성전자,005930,Y,임원ㆍ주요주주특정증권등소유상황보고서,20231206000097,문태호,20231206,

(147, 9)

In [6]:
#document
doc = dart.document("20231211800418")
print(doc)

<html>
 <head>
  <meta content="gdi" http-equiv="X-UA-TextLayoutMetrics">
  <meta content="text/html; charset=euc-kr" http-equiv="Content-Type">
  <STYLE>
.xforms * { font-family: 돋움체;}
.xforms_title * { font-size: 13pt; padding : 0 0 10 0;}

.xforms table {
    font-size: 10px;
    padding:0px;
    border-collapse:collapse;
    color: #3D3D3D;
}
.xforms td {
    padding-left:0px;
    padding-top:0px;
    border-collapse:collapse;
    line-height:22px;
    color: #3D3D3D;
    /*text-align:right;*/
    vertical-align:middle;
    border: 1px solid #7f7f7f;
}

.xforms span {
    /*display: inline-block;*/
    padding-left:3px;
    padding-right: 1px;
    line-height:22px;
    padding-top:0px;
    padding-bottom:0px;
    text-align:left;
    vertical-align:middle;
    border: 0px solid #DBDBDB;
}

.xforms.img{
    border : 0px;
}

.xforms a:link {

    color: #194866;
    text-decoration: none;
}
.xforms a:active {

    color: #194866;
    text-decoration: none;
}
.xforms a:visited {
    color: #194866;
    text-decoration: none;
}

.xforms A:hover {
    color:008BE3;
    text-decoration: none;
}

.xforms_input{
    border: 0px solid #DBDBDB;
    padding-left:3px;
    padding-right: 1px;
    height:22px;
    padding-top:0px;
    padding-bottom:0px;
    text-align:left;
}
</STYLE>
  <title>삼성전자/최대주주등소유주식변동신고서/(2023.12.11)최대주주등소유주식변동신고서</title>
 </head>
 <body>
  <div class="xforms">
   <div>
    <span class="noprint" style="display:none;width:907px;font-size:10pt;"> </span>
    <div class="xforms_title">
     <div>
      <span style="width:900px;font-weight:bold;text-align:center;">최대주주등소유주식변동신고서</span>
     </div>
    </div>
    <span style="width:907px;font-size:11pt;font-weight:bold;">1. 발행회사 정보</span>
    <table border="1" bordercolordark="white" bordercolorlight="#666666" cellpadding="1" cellspacing="0" id="XFormD1_Form0_Table0" style="margin:0px 0px 20px 0px;width:900px;font-size:10pt;border:1px solid #7f7f7f;">
     <tbody>
      <tr>
       <td rowspan="2" width="57"> <span style="width:57px;font-size:10pt;text-align:center;">회사명</span> </td>
       <td rowspan="2" width="139"> <span class="xforms_input" style="width:139px;font-size:10pt;">삼성전자주식회사</span> </td>
       <td rowspan="2" width="64"> <span style="width:64px;font-size:10pt;text-align:center;">회사코드</span> </td>
       <td rowspan="2" width="90"> <span class="xforms_input" style="width:90px;font-size:10pt;">005930</span> </td>
       <td rowspan="2" width="79"> <span style="width:79px;font-size:10pt;text-align:center;">담당부서명</span> </td>
       <td rowspan="2" width="121"> <span class="xforms_input" style="width:121px;font-size:10pt;">IR팀</span> </td>
       <td rowspan="2" width="65"> <span style="width:65px;font-size:10pt;text-align:center;">담당자명</span> </td>
       <td rowspan="2" width="105"> <span class="xforms_input" style="width:105px;font-size:10pt;">박주현</span> </td>
       <td width="49"> <span style="width:49px;font-size:10pt;text-align:center;">tel</span> </td>
       <td width="131"> <span class="xforms_input" style="width:131px;font-size:10pt;">02-2255-9000</span> </td>
      </tr>
      <tr>
       <td width="49"> <span style="width:49px;font-size:10pt;text-align:center;">(fax)</span> </td>
       <td width="131"> <span class="xforms_input" style="width:131px;font-size:10pt;">02-779-8920</span> </td>
      </tr>
     </tbody>
    </table>
    <span style="width:907px;font-size:11pt;font-weight:bold;">2. 발행주식수 정보</span>
    <table border="1" bordercolordark="white" bordercolorlight="#666666" cellpadding="1" cellspacing="0" id="XFormD1_Form0_Table1" style="margin:0px 0px 20px 0px;width:900px;font-size:10pt;border:1px solid #7f7f7f;">
     <tbody>
      <tr>
       <td width="300"> <span style="width:300px;font-size:10pt;text-align:center;">보통주식총수(1)</span> </td>
       <td width="300"> <span style="width:300px;font-size:10pt;text-align:center;">종류주식총수(2)</span> </td>
       <td width="300"> <span style="width:300px;font-size:10pt;text-align:center;">발행주식총수(1+2)</span> </td>
      </tr>
      <tr>
       <td width="300"> <span class="xforms_input" style="width:300px;font-size:10pt;text-align:right;">5,969,782,550</span> </td>
       <td width="300"> <span class="xforms_input" style="width:300px;font-size:10pt;text-align:right;">822,886,700</span> </td>
       <td width="300"> <span class="xforms_input" style="width:300px;font-size:10pt;text-align:right;">6,792,669,250</span> </td>
      </tr>
     </tbody>
    </table>
    <span style="width:907px;font-size:11pt;font-weight:bold;">3. 보고의 개요</span>
    <table border="1" bordercolordark="white" bordercolorlight="#666666" cellpadding="1" cellspacing="0" id="XFormD1_Form0_Table2" style="margin:0px 0px 20px 0px;width:900px;font-size:10pt;border:1px solid #7f7f7f;">
     <tbody>
      <tr>
       <td colspan="2" rowspan="2" width="360"> <span style="width:360px;font-size:10pt;text-align:center;">보고일자</span> </td>
       <td colspan="3" width="540"> <span style="width:540px;font-size:10pt;text-align:center;">소유주식</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">구분</span> </td>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">주식수</span> </td>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">비율</span> </td>
      </tr>
      <tr>
       <td rowspan="4" width="180"> <span style="width:180px;font-size:10pt;text-align:center;">직전보고서제출일</span> </td>
       <td rowspan="4" width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:center;">2023-11-06</span> </td>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">보통주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,236,239,387</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">20.71</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">종류주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,245,414</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0.15</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">증권예탁증권</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0.00</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">합계</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,237,484,801</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">18.22</span> </td>
      </tr>
      <tr>
       <td rowspan="4" width="180"> <span style="width:180px;font-size:10pt;text-align:center;">이번보고서제출일</span> </td>
       <td rowspan="4" width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:center;">2023-12-11</span> </td>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">보통주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,235,909,893</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">20.70</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">종류주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,165,262</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0.14</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">증권예탁증권</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0.00</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">합계</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">1,237,075,155</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">18.21</span> </td>
      </tr>
      <tr>
       <td colspan="2" rowspan="4" width="360"> <span style="width:360px;font-size:10pt;text-align:center;">증감</span> </td>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">보통주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-329,494</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-0.01</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">종류주식</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-80,152</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-0.01</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">증권예탁증권</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">0.00</span> </td>
      </tr>
      <tr>
       <td width="180"> <span style="width:180px;font-size:10pt;text-align:center;">합계</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-409,646</span> </td>
       <td width="180"> <span class="xforms_input" style="width:180px;font-size:10pt;text-align:right;">-0.01</span> </td>
      </tr>
     </tbody>
    </table>
    <span class="noprint" style="display:none;width:907px;font-size:10pt;"> </span>
    <span class="noprint" style="display:none;width:907px;font-size:10pt;font-weight:bold;"> </span>
    <span style="width:907px;font-size:11pt;font-weight:bold;">4. 개인별 세부변동사항</span>
    <table border="1" bordercolordark="white" bordercolorlight="#666666" cellpadding="1" cellspacing="0" id="XFormD1_Form0_RepeatTable0" style="margin:0px 0px 20px 0px;width:903px;font-size:10pt;border:1px solid #7f7f7f;">
     <tbody>
      <tr>
       <td colspan="2" width="222"> <span style="width:222px;font-size:10pt;text-align:center;">성명</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">삼성생명(특별계정)</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;">사업자등록번호</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;">104-81-26688</span> </td>
       <td width="134"> <span style="width:134px;font-size:10pt;text-align:center;">성별</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">해당없음</span> </td>
      </tr>
      <tr>
       <td colspan="2" width="222"> <span style="width:222px;font-size:10pt;text-align:center;">국내외 구분</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">국내(법인)</span> </td>
       <td colspan="2" width="276"> <span style="width:276px;font-size:10pt;text-align:center;">국적</span> </td>
       <td colspan="2" width="240"> <span class="xforms_input" style="width:240px;font-size:10pt;">대한민국</span> </td>
      </tr>
      <tr>
       <td colspan="2" width="222"> <span style="width:222px;font-size:10pt;text-align:center;">최대주주 및 발행회사와의 관계</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">기타</span> </td>
       <td width="129"> <span style="width:129px;font-size:10pt;text-align:center;">겸직내용1</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;">-</span> </td>
       <td width="134"> <span style="width:134px;font-size:10pt;text-align:center;">겸직내용2</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span style="width:94px;font-size:10pt;text-align:center;">변경일</span> </td>
       <td width="128"> <span style="width:128px;font-size:10pt;text-align:center;">변경원인</span> </td>
       <td width="165"> <span style="width:165px;font-size:10pt;text-align:center;">주식의 종류</span> </td>
       <td width="129"> <span style="width:129px;font-size:10pt;text-align:center;">변경전주식수</span> </td>
       <td width="147"> <span style="width:147px;font-size:10pt;text-align:center;">증감주식수</span> </td>
       <td width="134"> <span style="width:134px;font-size:10pt;text-align:center;">변경후주식수</span> </td>
       <td width="106"> <span style="width:106px;font-size:10pt;text-align:center;">비고</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-01</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매도(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,501,892</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-4,627</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,497,265</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-01</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매수(+)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,497,265</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">5,499</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,502,764</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-01</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">기타(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,502,764</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-44,905</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,457,859</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">ETF 설정</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-02</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매도(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,457,859</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-53</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,457,806</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-03</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매도(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,457,806</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-5,611</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,452,195</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-03</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매수(+)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,452,195</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">7,935</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,460,130</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-06</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매도(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,460,130</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-2,412</span> </td>
       <td width="134"> <span class="xforms_input" style="width:134px;font-size:10pt;text-align:right;">8,457,718</span> </td>
       <td width="106"> <span class="xforms_input" style="width:106px;font-size:10pt;">-</span> </td>
      </tr>
      <tr>
       <td width="94"> <span class="xforms_input" style="width:94px;font-size:10pt;">2023-11-08</span> </td>
       <td width="128"> <span class="xforms_input" style="width:128px;font-size:10pt;">장내매도(-)</span> </td>
       <td width="165"> <span class="xforms_input" style="width:165px;font-size:10pt;">보통주식</span> </td>
       <td width="129"> <span class="xforms_input" style="width:129px;font-size:10pt;text-align:right;">8,457,718</span> </td>
       <td width="147"> <span class="xforms_input" style="width:147px;font-size:10pt;text-align:right;">-12,562</span> </td>

In [8]:
#company
print(dart.company("현대자동차")) #현대
print(dart.company("SK하이닉스")) #sk하이닉스

{'status': '000', 'message': '정상', 'corp_code': '00164742', 'corp_name': '현대자동차(주)', 'corp_name_eng': 'HYUNDAI MOTOR CO', 'stock_name': '현대자동차', 'stock_code': '005380', 'ceo_nm': '정의선, 장재훈, 이동석(각자 대표이사)', 'corp_cls': 'Y', 'jurir_no': '1101110085450', 'bizr_no': '1018109147', 'adres': '서울특별시 서초구  헌릉로 12', 'hm_url': 'www.hyundai.com', 'ir_url': '', 'phn_no': '02-3464-1114', 'fax_no': '02-3464-8719', 'induty_code': '30121', 'est_dt': '19671229', 'acc_mt': '12'}
{'status': '000', 'message': '정상', 'corp_code': '00164779', 'corp_name': '에스케이하이닉스(주)', 'corp_name_eng': 'SK hynix Inc.', 'stock_name': 'SK하이닉스', 'stock_code': '000660', 'ceo_nm': '곽노정', 'corp_cls': 'Y', 'jurir_no': '1344110001387', 'bizr_no': '1268103725', 'adres': '경기도 이천시  부발읍 경충대로 2091', 'hm_url': 'www.skhynix.com', 'ir_url': '', 'phn_no': '031-630-4114', 'fax_no': '031-645-8078', 'induty_code': '2612', 'est_dt': '19491015', 'acc_mt': '12'}

In [9]:
#report
display(dart.report("SK하이닉스", "배당", 2020, "11011"))

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr
0,20210330000776,Y,00164779,SK하이닉스,주당액면가액(원),"5,000","5,000","5,000"
1,20210330000776,Y,00164779,SK하이닉스,(연결)당기순이익(백만원),"4,755,102","2,005,975","15,540,111"
2,20210330000776,Y,00164779,SK하이닉스,(별도)당기순이익(백만원),"4,217,841","1,476,981","15,407,086"
3,20210330000776,Y,00164779,SK하이닉스,(연결)주당순이익(원),"6,952","2,933","22,255"
4,20210330000776,Y,00164779,SK하이닉스,현금배당금총액(백만원),"800,282","684,002","1,026,003"
5,20210330000776,Y,00164779,SK하이닉스,주식배당금총액(백만원),-,-,-
6,20210330000776,Y,00164779,SK하이닉스,(연결)현금배당성향(%),16.80,34.10,6.60
7,20210330000776,Y,00164779,SK하이닉스,현금배당수익률(%),1.00,1.10,2.50
8,20210330000776,Y,00164779,SK하이닉스,현금배당수익률(%),-,-,-
9,20210330000776,Y,00164779,SK하이닉스,주식배당수익률(%),-,-,-
10,20210330000776,Y,00164779,SK하이닉스,주식배당수익률(%),-,-,-
11,20210330000776,Y,00164779,SK하이닉스,주당 현금배당금(원),"1,170","1,000","1,500"
12,20210330000776,Y,00164779,SK하이닉스,주당 현금배당금(원),-,-,-
13,20210330000776,Y,00164779,SK하이닉스,주당 주식배당(주),-,-,-
14,20210330000776,Y,00164779,SK하이닉스,주당 주식배당(주),-,-,-

In [13]:
#finstate (재무재표)
result = dart.finstate("LG전자", 2020, "11011") 
result = result.loc[result["fs_nm"] == "연결재무제표"] 
result = result.loc[result["account_nm"].isin(["당기순이익", "영업이익", "매출액"])] 
result = result.loc[:, ["account_nm", "fs_nm", "sj_nm", "thstrm_dt", "thstrm_amount"]]
display(result)

   account_nm   fs_nm  sj_nm                thstrm_dt       thstrm_amount
9         매출액  연결재무제표  손익계산서  2020.01.01 ~ 2020.12.31  63,262,046,000,000
10       영업이익  연결재무제표  손익계산서  2020.01.01 ~ 2020.12.31   3,194,987,000,000
12      당기순이익  연결재무제표  손익계산서  2020.01.01 ~ 2020.12.31   2,063,790,000,000

In [12]:
print(result["thstrm_amount"].dtype) # 타입

object

In [14]:
def remove_comma(value):
    return float(value.replace(",", ""))

display(result["thstrm_amount"].apply(remove_comma))

9     6.326205e+13
10    3.194987e+12
12    2.063790e+12
Name: thstrm_amount, dtype: float64

In [15]:
display(result["thstrm_amount"].str.replace(",", "").astype(float))

9     6.326205e+13
10    3.194987e+12
12    2.063790e+12
Name: thstrm_amount, dtype: float64

In [16]:
#배당 정보 수집 / 가공
import OpenDartReader
my_api = #"본인 api"
dart = OpenDartReader(my_api)

In [18]:
# SK하이닉스
SK_report = dart.report("SK하이닉스", "배당", 2020, "11011")
display(SK_report)
# 삼성전자
SAMSUNG_report = dart.report("삼성전자", "배당", 2020, "11011")
display(SAMSUNG_report)
# LG에너지 솔루션
threeS_report = dart.report("LG에너지솔루션", "배당", 2020, "11011")
display(threeS_report)

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr
0,20210330000776,Y,00164779,SK하이닉스,주당액면가액(원),"5,000","5,000","5,000"
1,20210330000776,Y,00164779,SK하이닉스,(연결)당기순이익(백만원),"4,755,102","2,005,975","15,540,111"
2,20210330000776,Y,00164779,SK하이닉스,(별도)당기순이익(백만원),"4,217,841","1,476,981","15,407,086"
3,20210330000776,Y,00164779,SK하이닉스,(연결)주당순이익(원),"6,952","2,933","22,255"
4,20210330000776,Y,00164779,SK하이닉스,현금배당금총액(백만원),"800,282","684,002","1,026,003"
5,20210330000776,Y,00164779,SK하이닉스,주식배당금총액(백만원),-,-,-
6,20210330000776,Y,00164779,SK하이닉스,(연결)현금배당성향(%),16.80,34.10,6.60
7,20210330000776,Y,00164779,SK하이닉스,현금배당수익률(%),1.00,1.10,2.50
8,20210330000776,Y,00164779,SK하이닉스,현금배당수익률(%),-,-,-
9,20210330000776,Y,00164779,SK하이닉스,주식배당수익률(%),-,-,-
10,20210330000776,Y,00164779,SK하이닉스,주식배당수익률(%),-,-,-
11,20210330000776,Y,00164779,SK하이닉스,주당 현금배당금(원),"1,170","1,000","1,500"
12,20210330000776,Y,00164779,SK하이닉스,주당 현금배당금(원),-,-,-
13,20210330000776,Y,00164779,SK하이닉스,주당 주식배당(주),-,-,-
14,20210330000776,Y,00164779,SK하이닉스,주당 주식배당(주),-,-,-

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20210309000744,Y,00126380,삼성전자,주당액면가액(원),100,100,100,NaN
1,20210309000744,Y,00126380,삼성전자,(연결)당기순이익(백만원),"26,090,846","21,505,054","43,890,877",NaN
2,20210309000744,Y,00126380,삼성전자,(별도)당기순이익(백만원),"15,615,018","15,353,323","32,815,127",NaN
3,20210309000744,Y,00126380,삼성전자,(연결)주당순이익(원),"3,841","3,166","6,461",NaN
4,20210309000744,Y,00126380,삼성전자,현금배당금총액(백만원),"20,338,075","9,619,243","9,619,243",NaN
5,20210309000744,Y,00126380,삼성전자,주식배당금총액(백만원),-,-,-,NaN
6,20210309000744,Y,00126380,삼성전자,(연결)현금배당성향(%),78.00,44.70,21.90,NaN
7,20210309000744,Y,00126380,삼성전자,현금배당수익률(%),4.00,2.60,3.70,보통주
8,20210309000744,Y,00126380,삼성전자,현금배당수익률(%),4.20,3.10,4.50,우선주
9,20210309000744,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,보통주
10,20210309000744,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,우선주
11,20210309000744,Y,00126380,삼성전자,주당 현금배당금(원),"2,994","1,416","1,416",보통주
12,20210309000744,Y,00126380,삼성전자,주당 현금배당금(원),"2,995","1,417","1,417",우선주
13,20210309000744,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,보통주
14,20210309000744,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,우선주

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20210317000676,Y,01515323,LG에너지솔루션,주당액면가액(원),500,-,-,NaN
1,20210317000676,Y,01515323,LG에너지솔루션,(연결)당기순이익(백만원),"-455,515",-,-,NaN
2,20210317000676,Y,01515323,LG에너지솔루션,(별도)당기순이익(백만원),"-377,980",-,-,NaN
3,20210317000676,Y,01515323,LG에너지솔루션,(연결)주당순이익(원),"-2,278",-,-,NaN
4,20210317000676,Y,01515323,LG에너지솔루션,현금배당금총액(백만원),-,-,-,NaN
5,20210317000676,Y,01515323,LG에너지솔루션,주식배당금총액(백만원),-,-,-,NaN
6,20210317000676,Y,01515323,LG에너지솔루션,(연결)현금배당성향(%),-,-,-,NaN
7,20210317000676,Y,01515323,LG에너지솔루션,현금배당수익률(%),-,-,-,보통주
8,20210317000676,Y,01515323,LG에너지솔루션,현금배당수익률(%),-,-,-,NaN
9,20210317000676,Y,01515323,LG에너지솔루션,주식배당수익률(%),-,-,-,보통주
10,20210317000676,Y,01515323,LG에너지솔루션,주식배당수익률(%),-,-,-,NaN
11,20210317000676,Y,01515323,LG에너지솔루션,주당 현금배당금(원),-,-,-,보통주
12,20210317000676,Y,01515323,LG에너지솔루션,주당 현금배당금(원),-,-,-,NaN
13,20210317000676,Y,01515323,LG에너지솔루션,주당 주식배당(주),-,-,-,보통주
14,20210317000676,Y,01515323,LG에너지솔루션,주당 주식배당(주),-,-,-,NaN

In [19]:
import numpy as np
def find_div_and_EPS(stock, year):
    report = dart.report(stock, "배당", year, "11011") # 데이터 가져오기
    output = dict() # 출력 초기화
    if report is None: # 리포트가 없다면 (참고: 리포트가 없으면 None을 반환함)
        output['주당배당금'] = np.nan, np.nan, np.nan
        output['주당순이익'] = np.nan, np.nan, np.nan
    
    else:
        # 주당배당금 (div) 관련 행 필터링
        div_row = report.loc[(report['se'] == '주당 현금배당금(원)')].iloc[0]
        
        # 전전기(second previous: spre), 전기(previous: pre), 당기(current: cur)
        # 하이픈 0으로 변환 및 콤마 제거
        cur_div = int(div_row['thstrm'].replace('-', '0').replace(',', '')) 
        pre_div = int(div_row['frmtrm'].replace('-', '0').replace(',', ''))
        spre_div = int(div_row['lwfr'].replace('-', '0').replace(',', '')) 
        output['주당배당금'] = spre_div, pre_div, cur_div
        
        # 주당순이익 (EPS) 관련 행 필터링
        EPS_row = report.loc[(report['se'].str.contains('주당순이익'))].iloc[0]
        
        # 하이픈 0으로 변환 및 콤마 제거
        cur_EPS = int(EPS_row['thstrm'].replace('-', '0').replace(',', '')) 
        pre_EPS = int(EPS_row['frmtrm'].replace('-', '0').replace(',', ''))
        spre_EPS = int(EPS_row['lwfr'].replace('-', '0').replace(',', '')) 
        output['주당순이익'] = spre_EPS, pre_EPS, cur_EPS

    return output

In [20]:
#데이터 추출
print(find_div_and_EPS("삼성전자", 2020))
print(find_div_and_EPS("SK하이닉스", 2020))

{'주당배당금': (1416, 1416, 2994), '주당순이익': (6461, 3166, 3841)}
{'주당배당금': (1500, 1000, 1170), '주당순이익': (22255, 2933, 6952)}

In [ ]:
import time
import pandas as pd

stock_list = pd.read_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/종목정보.txt", sep="\t", encoding="euc-kr")
stock_name_list = stock_list["Name"].values
div_data = []
EPS_data = []

for idx, stock_name in enumerate(stock_name_list):
    print(idx + 1, "/", len(stock_name_list))  # 현재까지 진행된 상황 출력
    # 레코드 초기화
    div_record = [stock_name]
    EPS_record = [stock_name]
    for year in [2015, 2018, 2020]:
        while True:
            try:
                output = find_div_and_EPS(stock_name, year)  # 배당 정보 가져오기
                time.sleep(0.5)  # 0.5초씩 재움
                break
            except:
                time.sleep(10 * 60)
        # 주당 배당금 정리
        spre_divs, pre_divs, cur_divs = output["주당배당금"]
        if year != 2020:
            div_record += [spre_divs, pre_divs, cur_divs]
        else:
            div_record += [pre_divs, cur_divs]  # 2018년이 중복되므로 제외
        # 주당 순이익 정리
        spre_EPS, pre_EPS, cur_EPS = output["주당순이익"]
        if year != 2020:
            EPS_record += [spre_EPS, pre_EPS, cur_EPS]
        else:
            EPS_record += [pre_EPS, cur_EPS]  # 2018년이 중복되므로 제외
    div_data.append(div_record)
    EPS_data.append(EPS_record)

1 / 2352
{'status': '013', 'message': '조회된 데이타가 없습니다.'}

In [26]:
columns = ["stock_name", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]
div_data = pd.DataFrame(div_data, columns = columns)
EPS_data = pd.DataFrame(EPS_data, columns = columns)

div_data.to_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/주당배당금.csv.csv", encoding = "euc-kr", index = False)
EPS_data.to_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/주당순이익.csv.csv", encoding = "euc-kr", index = False)

In [25]:
sub_due_data = [] # 제출 마감일을 담을 데이터
for settle_month in range(1, 13): # 결산월 
    for year in range(2013, 2021): # 사업연도
        # 사업연도경과후 기준일 계산
        if settle_month < 12:
            after_bs_year_day = pd.to_datetime("{}-{}-1".format(year, settle_month+1))
        else:
            after_bs_year_day = pd.to_datetime("{}-1-1".format(year+1))
        due_date = after_bs_year_day + pd.to_timedelta(90, "D")
        sub_due_data.append([settle_month, year, due_date])
sub_due_data = pd.DataFrame(sub_due_data, columns = ["결산월", "사업연도", "제출마감일"])
#sub_due_data.to_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/사업보고서_제출마감일.csv", index = False, encoding = "euc-kr")

In [24]:
def find_closest_stock_price(sp_data, date):
    date = pd.to_datetime(date) # 날짜 자료형으로 변환
    # 주가 데이터를 벗어나는 범위의 날짜가 입력되면 결측을 반환
    if sp_data['Date'].max() < date: 
        return np.nan
    else:
        while True:
            # date와 같은 날짜가 Date에 있으면
            if sum(sp_data['Date'] == date) > 0: 
                # 해당 날짜의 종가를 저장
                value = sp_data.loc[sp_data['Date'] == date, 'Close'].iloc[0]  
                break
            else: # date와 같은 날짜의 Date가 없으면, 하루 증가
                date += pd.to_timedelta(1, 'D')
        return value
sp_data = pd.read_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/주가데이터/삼성전자.csv") 
sp_data['Date'] = pd.to_datetime(sp_data['Date']) 
date = "2020-04-06" # 날짜 정의 
print(find_closest_stock_price(sp_data, date))

48700

In [ ]:
#주가데이터 변환
display(EPS_data)
print(stock_list.loc[stock_list['Name'] == "삼성전자", "SettleMonth"].iloc[0])
display(sub_due_data[(sub_due_data['결산월'] == 12) & (sub_due_data['사업연도'] == 2017)].iloc[0])
settle_month_dict = stock_list.set_index('Name')['SettleMonth']
settle_month_dict = settle_month_dict.apply(lambda x:int(x[:-1])).to_dict()
sub_due_dict = sub_due_data.set_index(['결산월', '사업연도'])['제출마감일'].to_dict()
print(settle_month_dict['삼성전자'])
print(sub_due_dict[12, 2017])
import os
sp_data = []
for sn in EPS_data["stock_name"].values: # EPS_data의 종목명을 순회하면서
    record = [sn]
    if sn + ".csv" not in os.listdir("../../데이터/주가데이터"):
        # 주가 데이터 폴더 내에 해당 파일이 없으면 전부 결측으로 채움
        record += [np.nan] * (len(EPS_data.columns) - 1)
    else:
        # 주가 데이터 불러오기
        sn_sp_data = pd.read_csv("../../데이터/주가데이터/{}.csv".format(sn),
                                 parse_dates=["Date"])
        settle_month = settle_month_dict[sn]
        for year in range(2013, 2021):
            # 제출 마감일의 주가 찾기
            sub_date = sub_due_dict[settle_month, year]
            sp = find_closest_stock_price(sn_sp_data, sub_date)  
            record.append(sp)
    sp_data.append(record)
sp_data = pd.DataFrame(sp_data, columns=EPS_data.columns)
PER_data = sp_data.values[:, 1:] / EPS_data.replace(0, np.nan).values[:, 1:]
PER_data = pd.DataFrame(PER_data, columns = EPS_data.columns[1:])
PER_data['stock_name'] = EPS_data['stock_name']
PER_data.to_csv("/Users/yang-eun-yeol/Desktop/my_quant/데이터/PER.csv", encoding = "euc-kr", index = False)